/*!
* CSS
*/

/*.container {
  margin-top: -1rem; /*this fix the space above the header*/
/*  margin-left: 0;
  width: 100%;
  color: white;
  text-decoration: none;
}*/

/*##responsive header##*/
* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial;
  background-color: #333333;
}

header {
  overflow: hidden;
  background-color: #2B2B2B;
  padding: 0px;
  margin-top: 0rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid black;
}

header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  background-color: dodgerblue;
  color: black;
}

header a.active {
  background-color: dodgerblue;
  color: white;
}

header-right {
  float: right;
}

header-center {
  align-content: center;
}

@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  header-right {
    float: none;
  }
  header-center {
    float: none;
  }
}

/*#####################*/
header nav {
  width: 60%;
  margin-left: 20%;
  border: 3px solid green;
}

header nav ul li {
  display: inline-block;
}

header, section, footer {
  float: left;
  width: 100%;
  clear: both;
}

article, aside, footer, header, nav, section {
  display: block;
}

header .logo {
  display: inline-block;
}

footer {
  background-color: #212121;
  font-size: 16px;
  padding-bottom: 5px;
  color: #c0c0c0;
  margin-top: 40px;
}

main {
  background-color: #3E3E3E;
  display: block;
  clear: both;
  margin-left: 25%;
  width: 50%;
  padding: 1rem;
  border-radius: 10px;
}

/*Links*/
a {
  background-color: transparent;
}

a:link, a:visited {
  color: #FFCC00;
  text-decoration: none;
  background-color: none;
}

a:hover, a:active {
  color: #FF9900;
  text-decoration: none;
  background-color: none;
}

/*Link buttons*/
.link-btn, .link-btn:link, .link-btn:visited {
  color: #FFFFFF;
  background-color: #4CAF50;
}

.link-btn:hover, .link-btn:active {
  background-color: green;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/*==============================*/

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}