/*!
* CSS
*/
html {
  height: 100%;
}
/*##responsive header##*/
*, *:before, *:after {
  box-sizing: border-box;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; /*check*/
  color: #DDDDDD;
  background-color: #333333;
  line-height: 1.5; /* espaçamento entre as linha das letras */
}

/*### adicionado ###*/
.header { /*add*/
  padding-left: 20%;
  padding-right: 20%;
  border-bottom: 1px solid black;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom: 2rem;
}
.header img { /*image logo*/
  width: 140px; /*140px;*/
  height: 65px; /*65px;*/
  margin-right: 20px;
}
.header .search-container {
  padding: 12px 12px;  /*set searchbar height value*/
}
/*### ### ### ### ###*/

.header {
  overflow: hidden;
  background-color: #2B2B2B;
  /*padding: 20px 10px;*/
}

.header a {
  float: left;
  color: #FFCC00;
  text-align: center;
  /*padding: 12px;*/ /*original*/
  padding: 20px 16px; /*set header height-first value[original:12px 16px]*/
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  /*border-radius: 4px;*/ /*original*/
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.header .header-left a:hover {
  background-color: dodgerblue;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header {
    padding-left: 0%;
    padding-right: 0%;
  }
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-left {
    float: none;
  }
  .header-right {
    float: none;
  }
}
/*## searchbar ##*/
.header .search-container {
  float: right;
}

.header input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.header .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #333333;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.header .search-container button:hover {
  background: #333333;
}

@media screen and (max-width: 600px) {
  .header .search-container {
    float: none;
  }
  .header a, .header input[type=text], .header .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .header input[type=text] {
    border: 1px solid #ccc;  
  }
}
/*###### end searchbar ######*/

/*================= modal search ===================*/
.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 500px;
  height: 900px;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  /*background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);*/
}

.close {
  padding-right: auto;
  background: transparent;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
}
.close a {}

.close a:hover {}
/*============== end modal search ===================*/

/*===== Links =====*/
a {
  background-color: transparent;
}

a:link, a:visited {
  color: #FFCC00;
  text-decoration: none;
  background-color: transparent;
}

a:hover, a:active {
  color: #FF9900;
  text-decoration: none;
  background-color: transparent;
}

/*============ link buttons =============*/
.link-btn, .link-btn:link, .link-btn:visited {
  color: #FFFFFF;
  background-color: #2B2B2B;
  text-align: center;
  max-width: 200px;
  padding: 5px;
  border-radius: 20px;
}

.link-btn:hover, .link-btn:active {
  background-color: dodgerblue;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/*========== end link buttons ===========*/

.container {
  min-height: 800px;
}

body main {
  max-width: 900px;
  margin: auto;
}

body main article {
  margin-top: 1.5rem;
  background-color: #3E3E3E;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

body main section {
  padding-left: 25%;
  padding-right: 25%;
  background-color: #3E3E3E;
}

body main hr {
  max-width: 800px;
  margin: 18px auto;
  border: 0;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #888A85;
}
.post-thumbnail {  /*z index 1 imgs*/
  max-width: inherit;
  position: absolute;
  z-index: 1;
}
/*============ post cards =============*/
  .post-list {
    list-style-type: none;
    padding: 0;
  }
  .post-card {
    margin-top: 1.5rem;
    min-height: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1.5rem;
  }
  .post-thumbnail {
    float: right;
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    border-radius: 20px 0px 0px 20px;
  }
  .post-item {
    float: left;
    padding-left: 350px;
    position: absolute;
    max-width: 800px;
  }
/*================================*/

/*============ footer =============*/
.footer {
  /*margin-top: 2rem;*/
  position: relative;
  padding-left: 20%;
  padding-right: 20%;
  padding: 12px 16px; /*footer height - set first px value*/
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212121;
  color: #C0C0C0;
  text-align: center;
}
body footer .fa-heart {
    color: #e75225;
    margin-left: 0.2em;
    margin-right: 0.2em;
}
/*================================*/
/*======== search js =============*/
.search-input {
    -webkit-appearance: none;
    border: 0;
    border-radius: .25em;
    font-family: inherit;
    font-size: 1.25em;
    margin: 2em auto 1em;
    padding: .5em;
    width: 100%;
}
.all-posts .results p {
    margin-bottom: 1.3em;
    margin-top: 0;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
@media (min-width: 50em)
.result {
    align-items: center;
    display: flex;
    justify-content: left;
}
.result {
    margin-bottom: 2em;
}
.result-img {
    height: 150px;
    margin: 0 2em 0 0;
    object-fit: cover;
    width: 150px;
}
.result img {
    max-width: 100%;
    display: block;
    margin: 2em auto;
}
div {
    display: block;
}
.result-body .post-title {
    font-size: 1.5em;
    line-height: 1.3;
}
.result-body a {
    color: #2574a8;
    text-decoration: none;
    transition: .1s;
}
.result-body .all-posts .post-date {
    color: #666;
}
.result-body .small {
    font-size: .889em;
}
.result-body p {
    margin-bottom: 0;
    margin-top: 0;
}
/*======== end search js ==========*/
/*============ generic class =============*/
.p-20 {
  padding: 20px;
}
.p-10{
  padding: 10px;
}
.h-200 {
  height: 200px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.jekylltux{
  float: left;
  margin: -20% -0% -0% -10%;
  width: 300px;
}
.clearfix {
    overflow: auto;
}
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}
/*================================*/
@media screen and (max-width: 500px) {
  .post-card {
    min-height: 500px;
  }
  .post-card img {
    margin: -20% -0% -0% 0%;
  }
  .post-card .seta {
    visibility: hidden;
  }
  .post-item {
    padding: 300px;
    padding: 10px;
    float: none;
    position: static;
  }
}