---
layout: default
permalink: /404.html
---

<style type="text/css" media="screen">
.page404 {
  max-width: 900px;
  margin: auto;
  text-align: center;
  margin-bottom: 3rem;
}
.page404 img {
  max-width: 500px;
}
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="page404">
  <img src="../img/404.png">
  <h1>404</h1>
  <p><strong>Página não encontrada :(</strong></p>
  <br>
  <strong>
    <p>A Página requisitada não pode ser encontrada ou não existe. (404 Not Found)</p>
  </strong>
</div>
