---
layout: default
title: Search
permalink: /search/
---

<main>
<input placeholder="Pesquisar&hellip;" type="search" id="search" class="search-input">
<div id="results" class="all-posts results"></div>
</main>
