  <!--footer-->
  <footer class="footer">
    <p>
      <small>2018 {{ site.title | escape }}. Made with</small>
      <i class="fa fa-heart"></i>
      <small></small>
    </p>
  </footer>
  <!--scripts-->
  {% if page.title == "Search" %}
<script src="../js/lunr.min.js"></script>
<script src="../js/lunr-feed.js"></script>
{% endif %}