  <!--header/navbar-->
  <header class="header">
    <!--<img class="header-left" src="/img/logo-x.png" alt="Jekyll Logo">-->
    <a href="/" class="logo">UserWebs</a>
    <div class="header-left">
      <a class="active-no" href="/"><i class="fa fa-home fa-fw"></i> Home</a>
      <a href="/contact"><i class="fa fa-linux"></i> Linux</a>
      <a href="/about"><i class="fa fa-qq"></i> Sobre</a>
    </div>
    <!--
    <div class="search-container">
      <form action="/action_page.php">
        <input type="text" placeholder="Pesquisar..." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>-->
    <div class="search-container">
      <a href="#openModal"><i class="fa fa-lg fa-search"></i></a>

      <div id="openModal" class="modalDialog">
        <div>
          <a href="#close" title="Fechar" class="close">
            <i class="fa fa-lg fa-times-circle"></i>
          </a>
          <h2></h2>
          <hr>

          <main>
            <input placeholder="Pesquisar&hellip;" type="search" id="search" class="search-input">
            <div id="results" class="all-posts results"></div>
          </main>

        </div>
      </div>
    </div>

  </header>

