<head>
  <!-- portabilidade -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- css/fonts/favicon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" type="text/css" href="{{ "/css/twemoji-awesome.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=2">
  <!-- SEO/title/description/tags -->
  <title>
    {% if page.title %}
        {{ page.title }}
      {% else %}
        {{ site.title }}
    {% endif %}
  </title>
  <meta name="description" content="awesome site description">
  <meta name="keywords" content="tags gnu linux web">
  <!-- feed -->
  {%- feed_meta -%}
  <!-- scripts -->
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/jquery/{{site.jquery}}/jquery.min.js"></script>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/{{site.modernizr}}/modernizr.min.js"></script>
</head>