---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="container">

        {{ content }}
        
    </div>

    {%- include footer.html -%}

  </body>

</html>
