---
layout: default
---
<main>
<!-- conteudo -->
    <article class="p-20">
      <h2>titulo</h2>
      <p>testando</p>
    </article>
    <hr>
    <article class="p-20">
      <h1>Responsive Header</h1>
      <p>Resize the browser window to see the effect.</p>
      <p>Some content..</p>
      <p>• Precisa corrigir o layout mobile adaptavel para os posts</p>
      <p>• <strike>Adicionar a funcionalidade de pesquisa</strike></p>
      <p>• <strike> Adicionar optimização e comprensão do código das páginas</strike></p>
    </article>

<div class="post-box">
  {% if site.posts.size == 0 %}
      <article><h2>Nenhum post foi criado ainda!</h2></article>
    {% else %}

    {% for post in site.posts %}
      <article class="post-card">
        <a class="post-thumbnail" style="background-image: url(/img/i-rest.jpg)" href="{{ post.url | relative_url }}">
          <img src="{{ site.url }}/img/tuxS2.png" alt="Avatar" style="width:100%">
        </a> 
        <div class="post-item">
          <h2><a href="{{ post.url | relative_url }}"> {{ post.title }}</a></h2>
            <time><i class="fa fa-calendar"></i>
              {%- assign date_format = site.minima.date_format | default: "%Y %b %-d " -%}
              <span> {{ post.date | date: date_format }}</span> &raquo;<br><br>
               {{ post.content | strip_html | truncatewords:50}}<br><br>
            </time>
        </div>
      </article>
    {% endfor %}
  {% endif %}
</div>

<!-- end conteudo -->
</main>