---
layout: default
comments: true
---
<main>
  <article class="post-body p-20">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <div class="post-date post-meta">
      <time>
        {%- assign date_format = site.minima.date_format | default: "%Y %b %-d " -%}
        <i class="fa fa-calendar"></i> {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span> {{ page.author }} </span>
      {%- endif -%}
    </div>
  </article>
</main>

<main>
  <article class="p-20">
    <!-- conteudo -->
    {{ content }}
    <!-- end conteudo -->
  </article>
</main>

<main>
  <article class="p-20">
    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}
  </article>
</main>